// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/dist/css/adminLTE.css";

.router-link-exact-active{
    color: white !important;
    background-color: #84a29d !important;
}

.error-msg{
    width: 100%;
    margin-top: .25rem;
    font-size: 100%;
    color: #dc3545;
}